.tabs {
  padding: 0;
  list-style: none;
  gap: 20px;
  text-decoration: none;
}
.tab-link {
  cursor: pointer;
  color: #222;
  padding: 8px 25px;
  font-size: 2em;
  border: 0;
  background: transparent;
}
header {
  margin-bottom: 50px;
}
.position {
  font-size: 19px;
  margin-top: 10px;
}
.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: flex;
}

/* Setup */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(204 204 204 / 6%);
}
h1,
h2 {
  color: #6c5f5f;
}
h2 {
  text-decoration: line-through;
  margin: 0;
}
h3 {
  margin-top: 0;
}
img {
  width: 1.1em;
}
/* Grid */
.grid {
  padding-inline-start: 40px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: baseline;
}
.align-items-end {
  align-items: flex-end;
}
.text-center {
  text-align: center;
}
.mb-0 {
  margin-bottom: 0;
}

/* Sections */
.content.active#contact {
  display: flex;
  justify-content: center;
}
.about-img {
  padding-inline-start: 10px;
}
.contact-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}
#contact {
  gap: 10px;
  flex-wrap: wrap;
}
.contact-image {
  margin: 0 10px 0 15px;
}
.contact-list img {
  width: 1.1em;
}
.content.active#about {
  display: block;
}

#about p {
  font-size: 1em;
}
.skills-content {
  max-width: 380px;
  flex-wrap: wrap;
  display: flex;
}
.skills-content p,
#about p {
  padding-inline-start: 15px;
}
.dots {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #222;
  display: inline-block;
  margin-inline-end: 5px;
}
.dash img {
  margin-inline-end: 10px;
  width: 20px;
}
.dash {
  height: 30px;
}
.img-wrapper {
  height: 300px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.img-wrapper-adaa {
  background-image: url("../assets/images/hrcom.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}
.img-wrapper-arabian {
  background-image: url("../assets/images/arabian.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.projects {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 350px 1fr;
  margin-bottom: 30px;
}
.project-link {
  color: #222;
  cursor: pointer;
}
.hide-underline {
  text-decoration: none;
}
.project-details {
  max-width: 630px;
}
.decorate-link {
  text-decoration: underline;
}
.project p {
  line-height: 1.8em;
  margin: 5px 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
